@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Snowburst+One&display=swap');

body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

h1{
  font-family: "Fugaz One", sans-serif;
  font-size: 35px
}

label, p {
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input {
  margin-top: 10px;
  padding: 7px;
  font-size: 18px
}

#arrows {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.arrow.optimal {
  color: lime;
  text-shadow: 0 0 10px green;
}

#game-container {
  position: relative;
  width: 300px;
  height: 400px;
  margin: auto;
  border: 2px solid white;
  overflow: hidden;
  background: black;
}

.arrow {
  width: 50px;
  height: 50px;
  font-size: 40px;
  line-height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 6px;
  transition: 0.1s;
}

.highlight {
  background-color: yellow;
  color: black;
}

.flash {
  background-color: limegreen;
}

#hit-zone {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 60px;
  border-top: 2px solid yellow;
}

.arrow[data-dir="left"] { left: 25%; }
.arrow[data-dir="down"] { left: 40%; }
.arrow[data-dir="up"] { left: 60%; }
.arrow[data-dir="right"] { left: 75%; }

#score {
  margin-top: 20px;
}